body {
  padding: 0px;
 }

 img {
  margin-right: 10px;
 }

.panel-title {
  font-size: 8pt;
}

.list-unstyled {
  font-size: 6pt;
}

.list-item {

}

.list-subheading {
  margin-top: 5px;
  font-size: 8pt;

}

.list-item-small {
  font-style: italic;
}
